{% extends "recommendation/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock head %}

{% block content %}
<!-- いくつかのカテゴリーを表示するページ。
カテゴリーをクリックすると、そのカテゴリーで人気のあるアニメを表示してくれる。 -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card my-4">
                    <a href="{% url 'category_result' 'Action' %}"><img src="/media/images/no_image_available.png" alt=""></a>
                    <h3 class="centered">Action</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-4">
                    <a href="{% url 'category_result' 'Comedy' %}"><img src="/media/images/no_image_available.png" alt=""></a>
                    <h3 class="centered">Comedy</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-4">
                    <a href="{% url 'category_result' 'Romance' %}"><img src="/media/images/no_image_available.png" alt=""></a>
                    <h3 class="centered">Romance</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-4">
                    <a href="{% url 'category_result' 'Drama' %}"><img src="/media/images/no_image_available.png" alt=""></a>
                    <h3 class="centered">Drama</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-4">
                    <a href="{% url 'category_result' 'Fantasy' %}"><img src="/media/images/no_image_available.png" alt=""></a>
                    <h3 class="centered">Fantasy</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-4">
                    <a href="{% url 'category_result' 'Horror' %}"><img src="/media/images/no_image_available.png" alt=""></a>
                    <h3 class="centered">Horror</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}